<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PersonPrivilegeFunctionMapper">
  <resultMap id="BaseResultMap" type="com.pojo.PersonPrivilegeFunctionKey">
    <id column="privilege_id" jdbcType="TINYINT" property="privilegeId" />
    <id column="function_id" jdbcType="TINYINT" property="functionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.pojo.PersonPrivilegeFunctionKey">
    delete from person_privilege_function
    where privilege_id = #{privilegeId,jdbcType=TINYINT}
      and function_id = #{functionId,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.pojo.PersonPrivilegeFunctionKey">
    insert into person_privilege_function (privilege_id, function_id)
    values (#{privilegeId,jdbcType=TINYINT}, #{functionId,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.PersonPrivilegeFunctionKey">
    insert into person_privilege_function
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="privilegeId != null">
        privilege_id,
      </if>
      <if test="functionId != null">
        function_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="privilegeId != null">
        #{privilegeId,jdbcType=TINYINT},
      </if>
      <if test="functionId != null">
        #{functionId,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>