<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PersonFunctionMapper">
  <resultMap id="BaseResultMap" type="com.pojo.PersonFunction">
    <id column="function_id" jdbcType="TINYINT" property="functionId" />
    <result column="function_name" jdbcType="VARCHAR" property="functionName" />
  </resultMap>
  <sql id="Base_Column_List">
    function_id, function_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person_function
    where function_id = #{functionId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    delete from person_function
    where function_id = #{functionId,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.pojo.PersonFunction">
    insert into person_function (function_id, function_name)
    values (#{functionId,jdbcType=TINYINT}, #{functionName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.PersonFunction">
    insert into person_function
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="functionId != null">
        function_id,
      </if>
      <if test="functionName != null">
        function_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="functionId != null">
        #{functionId,jdbcType=TINYINT},
      </if>
      <if test="functionName != null">
        #{functionName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.PersonFunction">
    update person_function
    <set>
      <if test="functionName != null">
        function_name = #{functionName,jdbcType=VARCHAR},
      </if>
    </set>
    where function_id = #{functionId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.PersonFunction">
    update person_function
    set function_name = #{functionName,jdbcType=VARCHAR}
    where function_id = #{functionId,jdbcType=TINYINT}
  </update>
</mapper>