<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
       
    <!-- spring可以自动扫描base-pack下面的包或者子包下面的java文件，如果扫描到有Spring的相关注解的类，则把这些类注册为Spring的bean -->
	<context:component-scan base-package="com.controller"/>
	
	<aop:aspectj-autoproxy/>
	<!-- 配置<mvc:default-servlet-handler />后，会在Spring MVC上下文中定义一个org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler，
		它会像一个检查员，对进入DispatcherServlet的URL进行筛查，如果发现是静态资源的请求，就将该请求转由Web应用服务器默认的Servlet处理，
		如果不是静态资源的请求，才由DispatcherServlet继续处理 -->
	<mvc:default-servlet-handler/>
	<!-- 设置配置方案 -->
	<mvc:annotation-driven enable-matrix-variables="true">
		<!-- 设置不使用默认的消息转换器 -->
		<mvc:message-converters register-defaults="false">
			<!-- 配置Spring的转换器 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter"></bean>
			<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"></bean>
			<bean class="org.springframework.http.converter.BufferedImageHttpMessageConverter"></bean>
			<!-- 配置fastjson中实现HttpMessageConverter接口的转换器 -->
			<bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 拦截器定义 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/" />
			<bean class="com.intercept.AuthorizationInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/content/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- enctype="multipart/form-data"  配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 默认编码 -->
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 文件大小最大值 -->
        <property name="maxUploadSize" value="10485760000" />
        <!-- 内存中的最大值 -->
        <property name="maxInMemorySize" value="40960" />
    </bean>
</beans>